<div class="modal" id="modal-call-in-progress" style="width: 300px; height: 600px;margin-left: 560px;">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div id="callDuration"></div>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal-call-in-progress-body" style="height: 300px;">
                <div class="mx-auto" id="modal-call-in-progress-display">
                    <h4 id="txtPhoneNumber" style="text-align: center;"></h4>
                <p class="text-center text-muted" id="contact-call-name"></p>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer mx-auto">
                <button 
                type="button" 
                class="buttons btn btn btn-default btn-circle btnHangUp" 
                data-bs-toggle="modal" 
                data-bs-target="#contactDetailModal">
                  <i 
                    class="fa fa-phone fa-1x fa-rotate-icon no-pointer-events" 
                    aria-hidden="true" style="color: red;">
                  </i>
                </button>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>