
<div class="modal " id="confirmationModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalTitle">
          
        </h5>
        
      </div>
      <div class="modal-body" id="confirmationModalBody">
        
      </div>
      <div class="modal-footer" id="confirmationModalFooter">
        
      </div>
    </div>
  </div>
</div>