
<div class="modal " id="edit-profile-modal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactEditModalTitle">
          Edit Profile 
        </h5>
      </div>
      
      <form action="/profile/edit" method='POST' id="contactEditForm">
        
        <div class="modal-body" id="contactEditModalBody">
          {{profileForm.hidden_tag()}} 

          {% for line in profileForm if line.id != "submit" %}
          {% if line.id != 'csrf_token' %}

          <div class="form-group">
            <div class="row mb-2">
              
              <span class="col-4 d-flex align-items-center">
                <!-- {% if not loop.last %} -->
                {{line.label(class_="form-control-label")}} 
                <!-- {% endif %} -->
              </span>
              <span class="col-8">
                {% if line.id == 'phone' %}
                  {{ line(
                    class_="form-control", 
                    onInput="this.value = phoneFormat(this.value)",
                    id="profileFormPhone",
                    value=current_user.phone if current_user.phone else '' ) }}
                {% else %}
                {{line(
                  class_="form-control", 
                  value=current_user[line.id] if current_user[line.id] else ''
                  )}}
                {% endif %}
              </span>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer" id="contactEditModalFooter">
          <button 
          type="button" 
          data-bs-toggle='modal' 
          data-bs-target='#contactDetailModal' 
          data.bs-dismiss='modal' 
          class="btn buttons btn-info" 
          id='cancelEdit'
          >
            Cancel
          </button>
          
          {{profileForm.submit(class="buttons btn btn-warning", id="editSave", value="Save Changes")}}
        </div>
      </form> 
    </div>
  </div>
</div>