<div 
class="modal" 
id="modalEmailBox" 
tabindex="-1" 
data-bs-backdrop="static"
role="dialog" 
aria-labelledby="exampleModalLabel" 
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">

      <!-- Modal Header -->
           
      <div class="modal-header">
        <div class='modal-title' id="emailContactModalTitle">
        </div>
        <button type="button" 
          class="close buttons" 
          data-bs-toggle="modal" 
          data-bs-target="#contactDetailModal" 
          aria-label="Close">
            <span aria-hidden="true" class="no-pointer-events">&times;</span>
        </button>
      </div>

      <form action="" id="emailModalForm" method="POST">
        <input type="text" class="d-none" id="email-address" name="email">
        <!-- Modal body -->
        <div class="modal-body" style="height: 300px;">
          <div class="mx-auto">
            <div class="form-group row">
              <div class="col-2 mt-2"><label class="form-control-label" for="subject">Subject:</label></div>
              <div class="col-10 mb-2"><input name="subject" type="text" id="subject" class="form-control"></div>
            </div>
            <textarea required id="email-body" name="body" class="p-3" cols="30" rows="10" style="width:100%;"></textarea>
          </div>
        </div>
                <!-- Modal Footer -->
        <div class="modal-footer mx-auto">
          <button 
          type="submit" 
          class="btn buttons btn btn-danger"
          >
            Send Email
          </button>
        </div>
      </form>
      <div>
      </div>
    </div>
  </div>
</div>