<div 
  class="modal fade" 
  id="pw-reset" 
  tabindex="-1"
  role="dialog"
  data-bs-backdrop="static"
  aria-labelledby="pw-reset"
  aria-hidden="true"
  >

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="pw-reset-title">
          Change Password
        </h5>
      </div>
      
      <form action="/password-reset" method='POST' id="pw-reset-form">
        <div class="modal-body" id="pw-reset-body">
          
          {{pwForm.hidden_tag()}}
          {{pwForm.csrf_token(id="pw_csrf_token")}}
          <div class="form-group">
            <div class="row mb-2">
              <span class="col-4 d-flex align-items-center">
                {{pwForm.old_password.label(class_="form-control-label")}}
              </span>
              <span class="col-8">
                {{pwForm.old_password(class_="form-control")}}
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="row mb-2">
              <span class="col-4 d-flex align-items-center">
                {{pwForm.new_password.label(class_="form-control-label")}}
              </span>
              <span class="col-8">
                {{pwForm.new_password(class_="form-control")}}
              </span>
            </div>
          </div>
          
          <div class="form-group">
            <div class="row mb-2">
              <span class="col-4 d-flex align-items-center">
                {{pwForm.new_password2.label(class_="form-control-label")}}
              </span>
              <span class="col-8">
                {{pwForm.new_password2(class_="form-control")}}
              </span>
            </div>
          </div>

        <div class="modal-footer" id="pw-reset-footer">
          <button 
            type="button" 
            data-bs-toggle='modal' 
            data-bs-target='#pw-reset' 
            data.bs-dismiss='modal' 
            class="btn btn-info" 
            id='cancelEdit'
            >
            Cancel
          </button>
          {{pwForm.submit(class="btn btn-warning", id="editSave", value="Save Changes")}}
        </div>
      </form> 
    </div>
  </div>
</div>
