{% extends "loggedin.html" %} {% block title %}Home{% endblock %} {% block body
%}
<div id="sidebar" class="sidebar bg-light"></div>
<h1>Home</h1>
<p>Welcome to the home page!</p>
<br />
<br />
<br />
<div class="container overflow-auto my-5 py-5">
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

  <div class="table-responsive">
    <table
      id="myTable2"
      class="sortable table table-striped table-dark table-hover"
    >
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Company</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in current_user.contacts %}
        <tr
          onclick="openForm(id)"
          id="{{contact.contact_id}}"
          name="{{loop.index}}"
        >
          <!-- <th scope="row">{{loop.index}}</th> -->
          <td>{{contact.f_name}}</td>
          <td>{{contact.l_name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.company}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} 

{% block scripts %}
<script src="../static/js/contacts.js"></script>
{% endblock %}
