{% extends 'base.html' %}


{%block navright %}

<li class="nav-item">
  <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#sign-up">Sign Up</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#login">Login</a>
</li>

{% endblock %}


{% block body %}

  <div class="container overflow-auto my-5 py-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Welcome to Sales Buddy - Your Ultimate Sales Companion!</h1>
        <h5 class="mt-3">
          Achieve sales success like never before with Sales Buddy, the revolutionary app designed to empower sales professionals like you. Whether you're a seasoned sales guru or just starting out, Sales Buddy is here to transform the way you sell and skyrocket your results.
        </h5>
          
      </div>
      
      
    </div>
    
    <!-- carousel -->
    
    <div id="carousel" class="carousel slide mb-5 pb-2 mt-2" data-bs-ride="carousel">
      <div class="container text-center">
        <h2 class="p-5">Customer Testimonials:</h2>
      </div>
      <div class="carousel-inner">
              
        <div class="carousel-item active">
            <div class="row">
              <!-- card 1 -->
              <div class="col-lg-4">
                <div class="card">
                  <!-- card front -->
                  <div class="box front">
                    <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="">
                    <h2>Carol Danvers</h2>
                    <h3>CEO</h3>
                    <h4>Granny Smith</h4>
                  </div>
                  
                  <div class="box back">
                    <span class="fa fa-quote-left mb-1"></span>
                    <!-- quote for the back of the card -->
                    <p class="mt-2">
                      I've tried several sales apps, but this one stands out from the crowd...It's a salesperson's dream tool.
                      <span class="fa fa-quote-right float-end"></span>
                      </p>
                    </div>
                  </div>
                </div>
            <!-- card 2 -->
            <div class="col-lg-4">
              <div class="card">    
                <div class="box front">
                  <img src="{{ url_for('static', filename='img/2.jpg') }}" alt="">
                  <h2>Susan Nichols</h2>
                  <h3>Head of Sales</h3>
                  <h4>Twitter2.0</h4>
                </div>
                
                <div class="box back">
                  <span class="fa fa-quote-left mb-1"></span>
                  <!-- quote for the back of the card -->
                  <p>
                    This sales technology app is a lifesaver when it comes to managing my sales activities on the go. A must-have for sales professionals on the move.
                    <span class="fa fa-quote-right float-end"></span>
                  </p>
                </div>
              </div>
            </div>
            
            <!-- card 3 -->
            
            <div class="col-lg-4">
              <div class="card">    
                <div class="box front">
                  <img src="{{ url_for('static', filename='img/3.jpg') }}" alt="">
                  <h2>Jane Doe</h2>
                  <h3>A Deer</h3>
                  <h4>A Female Deer</h4>
                </div>
                
                <div class="box back">
                  <span class="fa fa-quote-left mb-1"></span>
                  <!-- text for back of card -->
                  <p>
                    Say goodbye to manual data entry and hello to efficiency! 
                    <span class="fa fa-quote-right float-end"></span>
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="row">
          <!-- card 4 -->
          <div class="col-lg-4">
            <div class="card">
              
              <div class="box front">
                <img src="{{ url_for('static', filename='img/4.jpg') }}" alt="">
                <h2>Laura Smith</h2>
                <h3>Sales Manager</h3>
                <h4>Dunder Mifflin</h4>
              </div>
              
              <div class="box back">
                <span class="fa fa-quote-left mb-1"></span>
                <!-- text for back of card -->
                <p>
                  As a sales manager, this app has revolutionized the way I track my team's performance. A true asset for sales team management.
                  <span class="fa fa-quote-right float-end"></span>
                </p>
              </div>
            </div>
          </div>
          <!-- card 5 -->

        <div class="col-lg-4">
          <div class="card">    
            <div class="box front">
              <img src="{{ url_for('static', filename='img/5.jpg') }}" alt="">
              <h2>Lionelle Ritchie</h2>
              <h3>Sales Executive</h3>
              <h4>Once, Twice 3x A Lady</h4>
            </div>
            
            <div class="box back">
              <span class="fa fa-quote-left mb-1"></span>
              <!-- text for back of card -->
              <p>
                With this app, prospecting has never been easier. It's a game-changer for anyone looking to boost their sales pipeline.
                <span class="fa fa-quote-right float-end"></span>
              </p>
            </div>
          </div>
        </div>
        
        <!-- card 6 -->
        
        <div class="col-lg-4">
          <div class="card">    
            <div class="box front">
              <img src="{{ url_for('static', filename='img/6.jpg') }}" alt="">
              <h2>Charlene Harris</h2>
              <h3>VP Sales</h3>
              <h4>Alfa Bets</h4>
            </div>
            
            <div class="box back">
              <span class="fa fa-quote-left mb-1"></span>
              <!-- text for the back of the card -->
              <p>
                This sales app simplifies my life and amplifies my results. It's an indispensable tool for achieving sales success.
                <span class="fa fa-quote-right float-end"></span>
              </p>
            </div>
          </div>
        </div>

          </div>
        </div>
        

        <div class="carousel-item">
            <div class="row">
              <!-- card 7 -->
              <div class="col-lg-4">
                <div class="card">
                  
                  <div class="box front">
                    <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="">
                    <h2>The Squiggly</h2>
                    <h3>Title</h3>
                    <h4>Wally World</h4>
                  </div>
                  
                <div class="box back">
                  <!-- text for the back of the card -->
                  <p>
                    <span class="fa fa-quote-left mb-1"></span>
                    Give me a 'W'....Give me an 'A'....Give me an 'SQUIGGLY'....
                    <span class="fa fa-quote-right float-end"></span>
                  </p>
                </div>
              </div>
            </div>
            <!-- card 8 -->
            
            <div class="col-lg-4">
              <div class="card">    
                <div class="box front">
                  <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="">
                  <h2>Judith M<sup>c</sup>Kenna</h2>
                  <h3>President</h3>
                  <h4>Walmart International</h4>
                </div>
                
                <div class="box back">
                  <!-- text for the back of the card -->
                  <p>
                    <span class="fa fa-quote-left mb-1"></span>
                    I can't imagine my sales routine without this app.
                    <span class="fa fa-quote-right float-end"></span>
                  </p>
                </div>
              </div>
            </div>
            
            <!-- card 9 -->
            
            <div class="col-lg-4">
              <div class="card">    
                <div class="box front">
                  <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="">
                  <h2>Julie Murphy</h2>
                  <h3>Exec VP</h3>
                  <h4>...</h4>
                </div>
                
                <div class="box back">
                  <span class="fa fa-quote-left mb-1"></span>
                  <!-- text for the back of the card -->
                  <p>
                    This sales technology app is a game-changer! Highly recommended!
                    <span class="fa fa-quote-right float-end"></span>
                  </p>
                </div>
              </div>
            </div>
            
          </div>   
          
        </div>
      </div>
    </div>
  </div>
  
  {% include './modals/login_modal.html' %}
  {% include './modals/signup_modal.html' %}
  {% endblock %}
