{% extends 'loggedin.html' %}


{% block title %}Profile{% endblock %}


{% block body%}

<h1>Profile</h1>
<div class="container overflow-auto my-5 py-5">
  <img src="{{ url_for('static', filename='img/user.jpeg')}}" id="profile-pic" height="225" width="225" alt="">
  <form action="/profile/edit/photo" method="POST" enctype="multipart/form-data">
    <input type="file" name="photo">
    <input type="submit" value="Upload">
  </form>
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <p class="card-text">
        {{ current_user.full_name }}
        
        <div class="row">
          <div class="col-8">
            
            <strong>Admin:</strong>
            {{ current_user.admin }}<br/>
            
            <strong>Email:</strong>
            {{ current_user.email }}<br/>
            
            
      <strong>Phone:</strong>
      <br/>
      
    </div>
  </div>
</p>
<a 
href="#" 
class="link-button btn btn-primary border-1 border-primary"
data-bs-toggle="modal"
data-bs-target="#edit-profile-modal"
>
  Edit Profile
</a>
<a 
href="#" 
class="link-button btn btn-primary"
data-bs-toggle="modal"
data-bs-target="#pw-reset">
Change Password
</a>

</div>
</div>
{% include "./modals/password_reset_modal.html" %}
</div>

{% endblock %}


