{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block body %}
<div class="container mb-5 pb-5">
  
  <h1>Join The Revolution!</h1>
  <form method="post">
    {{form.hidden_tag()}}
    <div class="row">
      <div class="col">
        
        <div class="form-group-lg">
          {{form.fname.label(class="form-control-label")}}
          {{form.fname(class="form-control", placeholder="Enter your first name")}}
        </div>

      </div>

      <div class="col">

        <div class="form-group-lg">
          {{form.lname.label(class="form-control-label")}}
          {{form.lname(class="form-control", placeholder="Enter your last name")}}
        </div>

      </div>

    </div>

    <div class="form-group">
      {{form.email.label(class="form-control-label")}}
      {{form.email(class="form-control", placeholder="Enter your email")}}
    </div>

    <div class="form-group">
      {{form.password.label(class="form-control-label")}}
      {{form.password(class="form-control", placeholder="Enter your password")}}
    </div>

    <div class="form-group">
      {{form.password2.label(class="form-control-label")}}
      {{form.password2(class="form-control", placeholder="Confirm your password")}}
    </div>
    <br>
    <div class="form-group mb-3 pb-3">
      {{form.submit(class="btn btn-danger btn-lg float-end")}}
    </div>
  </form>

</div>

{% endblock %}
